@import 'main';

.mainContainer
{
    padding: 3rem 3rem 0 3rem;
}
.displayContainer
{
    padding: 2rem;
    min-height: 650px;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 5px;
    @include flexDisplaying();
}