@import 'main';

.topContainer
{
    height: 15vh;
    min-height: 150px;
    border-bottom: 1px solid grey;
    @include flexDisplaying($direction: column, $justify: space-around);
}
.pathContainer
{
    width: 100%;
    height: 60px;
    @include flexDisplaying($align: center);
    padding-left: 1rem;
}
.breadCrumbs
{
    padding-top: 5px;
    height: 100%;
    text-align: center;
    font-size: xx-large;
    cursor: default;
    text-overflow: ellipsis;
    overflow: hidden;
}
.canHover:hover
{
    cursor: pointer;
    border: 1px solid grey;
    background-color: lightgray;
}